<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Food Delivery Website</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.css">
    <!-- Hover CSS -->
    <link rel="stylesheet" href="../static/css/hover-min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- Navigation Section Start -->
    <header class="navbar">
        <nav id="site-top-nav" class="navbar-menu navbar-fixed-top">
            <div class="container">
                <!-- logo -->
                <div class="logo">
                    <a href="/" title="Logo">
                        <img src="../static/img/logo.png" alt="Logo" class="img-responsive">
                    </a>
                </div>
                <!-- Main Menu -->
                <div class="menu text-right">
                    <ul>
                         <li><a class="hvr-underline-from-center" href="/">Home</a></li>
                        <li><a class="hvr-underline-from-center" href="/categories">Categories</a></li>
                        <li><a class="hvr-underline-from-center" href="/foods">Foods</a></li>
                        <li><a class="hvr-underline-from-center" href="/order">Order</a></li>
                        <li><a class="hvr-underline-from-center" href="/contact">Contact</a></li>
                        {% if session.get('user_id') %}
        <li><a href="/order-history">Order History</a></li>
        <li><a href="/logout">Logout</a></li>
    {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
    {% endif %}
                        <li>
                            <a id="shopping-cart" class="shopping-cart">
                                <i class="fa fa-cart-arrow-down"></i>
                                <span class="badge">0</span>
                            </a>
                            <div id="cart-content" class="cart-content">
                                <h3 class="text-center">Shopping Cart</h3>
                                <table class="cart-table" border="0">
                                    <tr>
                                        <th>Food</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                  
                                </table>
                                <a href="/order" class="btn-primary">Confirm Order</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Navigation Section End -->

    <!-- Contact Section Start -->
    <section class="contact">
        <div class="container">
            <h2 class="text-center">Report the problem</h2>
            <div class="heading-border"></div>

            <form action="/report-problem" method="POST" class="form">
    <fieldset>
        <legend>Contact Us</legend>

        <p class="label">Full Name</p>
        <input type="text" name="name" value="{{ session['user_name'] }}" readonly>

        <p class="label">Email</p>
        <input type="email" name="email" value="{{ session['user_email'] }}" readonly>

        <p class="label">Phone Number</p>
        <input type="text" name="phone" value="{{ session['user_phone'] }}" readonly>

        <p class="label">Subject</p>
        <input type="text" name="subject" placeholder="Enter your subject..." required>

        <p class="label">Message</p>
        <textarea name="message" rows="5" placeholder="Enter your message..." required></textarea>

        <input type="submit" value="Submit" class="btn-primary">
    </fieldset>
</form>

        </div>
    </section>
    <!-- Contact Section End -->

     <!-- Map Section Start -->
     <section class="map">
        <h2 class="text-center">Find Us</h2>
        <div class="heading-border"></div>

        <iframe id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d118103.45687625333!2d91.81986775!3d22.32593435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1671287502415!5m2!1sen!2sbd" ></iframe>
     </section>
     <!-- Map Section End -->

    <!-- Footer Section Start -->
    <section class="footer">
        <div class="container">
            <div class="grid-3">
                <div class="text-center">
                    <h3>About Us</h3><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officia, temporibus expedita dicta eligendi harum architecto fugiat sint, laudantium omnis animi. Voluptas praesentium maiores minima pariatur necessitatibus consequuntur, similique assumenda.</p>
                </div>
                <div class="texr-center">
                    <h3>Site Map</h3><br>
                    <div class="site-links">
                        <a href="/categories">Categories</a>
                        <a href="/foods">Foods</a>
                        <a href="/order">Order</a>
                        <a href="/contact">Contact</a>
                        <a href="/login">Login</a>
                    </div>
                </div>
                <div class="social-links">
                    <h3>Social Links</h3><br>
                    <div class="social">
                        <ul>
                            <li><a href="https://www.facebook.com/share/16qNiuNCyr/"><img src="https://img.icons8.com/color/48/null/facebook-new.png"/></a></li>
                            <li><a href="https://www.instagram.com/x__karthick__x?igsh=b2d0N3Vkd3ppb2dh"><img src="https://img.icons8.com/fluency/48/null/instagram-new.png"/></a></li>
                            <li><a href="https://x.com/Karthic56580435"><img src="https://img.icons8.com/color/48/null/twitter--v1.png"/></a></li>
                            <li><a href="https://www.linkedin.com/in/karthick-m-19937b272?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="https://img.icons8.com/color/48/null/linkedin-circled--v1.png"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Copyright Section start -->
    <section class="copyright">
        <div class="container text-center">
            <p>All rights reserved. Design By <a href="#">KARTHICK</a></p>
        </div>
        <a id="back-to-top" class="btn-primary">
            <i class="fa fa-angle-double-up"></i>
        </a>
    </section>
    <!-- Copyright Section End -->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- Jquery UI -->
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <!-- Custom JS -->
    <script src="../static/js/custom.js"></script>
</body>
</html>