<!DOCTYPE html>
<html>
<head>
    <title>Account Created</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <section class="login">
        <div class="container">
            <div class="success-box">
                <h2 class="text-center">🎉 Account Created Successfully!</h2>
                <p class="text-center">You can now login.</p>
                <div class="text-center">
                    <a href="/login" class="btn-primary">Go to Login</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
